<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Highcharts Example</title>
  <script type="text/javascript">

    $(function () {
      $('#containerWeight').highcharts({
        chart: {
          type: 'spline'
        },
        title: {
          text: 'Weight'
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display the dummy year
            month: '%b',
            year: '%b'
          },
          title: {
            text: 'Date'
          }
        },
        yAxis: {
          title: {
            text: 'kg'
          },
          min: 80,
          plotLines: [{
            id: 'goal',
            color: '#FF0000',
            dashStyle: 'ShortDash',
            width: 2,
            value: 88.1,
            zIndex: 0
          }]
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: true
            }
          }
        },
        series: [{
          name: 'Weight',
          data: <%= raw @seriesWeightStr%>
        }]
      });


      $('#containerHeartRate').highcharts({
        chart: {
          type: 'spline'
        },
        title: {
          text: 'Heart Rate'
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display the dummy year
            month: '%b',
            year: '%b'
          },
          title: {
            text: 'Date'
          }
        },
        yAxis: {
          title: {
            text: 'bpm'
          },
          min: 40
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: true
            }
          }
        },
        series: [{
          name: 'Heart Rate',
          data: <%= raw @seriesHeartRateStr%>
        }]
      });


      $('#containerBloodPressure').highcharts({
        chart: {
          type: 'spline'
        },
        title: {
          text: 'Blood Pressure'
        },
        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: { // don't display the dummy year
            month: '%b',
            year: '%b'
          },
          title: {
            text: 'Date'
          }
        },
        yAxis: {
          title: {
            text: 'mmHg'
          },
          min: 50,
          plotLines: [{
            id: 'systolicNormal',
            color: '#FF0000',
            dashStyle: 'ShortDash',
            width: 2,
            value: 135,
            zIndex: 0
          }, {
            id: 'dystolicNormal',
            color: '#FF0000',
            dashStyle: 'ShortDash',
            width: 2,
            value: 85,
            zIndex: 0
          }]
        },
        legend: {
          enabled: false
        },
        plotOptions: {
          spline: {
            marker: {
              enabled: true
            }
          }
        },
        series: [
          {
            name: 'Systolic',
            data: <%= raw @seriesSystolicBloodPressureStr%>
          },
          {
            name: 'Diastolic',
            data: <%= raw @seriesDiastolicBloodPressureStr%>
          }
        ]
      });
    })
  </script>
</head>
<body>
<div id="containerWeight" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="containerHeartRate" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="containerBloodPressure" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>

</body>
</html>